@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}


.animate-float {
	transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.flexCenter {
	@apply flex items-center justify-center;
}

.flexBetween {
	@apply flex items-center justify-between;
}

.flexStart {
	@apply flex items-center justify-start;
}

.paddings {
	@apply px-5 py-6 lg:px-20;
}

::-webkit-scrollbar {
	width: 5px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 12px;
}

::selection {
	background: #afafaf6e;
	color: #530082;
}

/* Footer */
.footer {
	@apply flex-col w-full gap-6 flexCenter paddings;
}

.footer_copyright {
	@apply w-full text-sm font-normal max-sm:flex-col;
}

.footer_column {
	@apply flex flex-col flex-1 gap-3 text-sm min-w-max;
}

.swiper-pagination {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 16px !important; 
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: rgba(121, 92, 138, 0.911) !important; 
  margin: 0 4px !important;
  cursor: pointer !important;
  opacity: 0.7 !important;
  transition: opacity 0.2s ease !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
	background: #530082 !important;
}